.missionsContainer {
  padding: 1rem 1rem 0 1rem;
}

.missionsHeader {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1.2fr;
}

.missionsHeader div {
  height: 2rem;
  text-align: left;
  border: 1px solid rgb(229, 227, 227);
  padding-left: 0.5rem;
}

.missionsHeader div p {
  line-height: 0rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
